.btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.btn button {
  width: 200px;
  height: 40px;
  background-color: blueviolet;
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
}
form {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.formValidateTrue {
  border: 3px solid rgb(163, 3, 3);
}
.formValidateFalse {
  border: 3px solid rgb(14, 90, 151);
}
.form-control {
  border: 3px solid rgb(14, 90, 151);
  font-size: 1.7rem;
}
